/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Roboto Condensed", sans-serif;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: primari-font;
  src: url(../fonts/RobotoCondensed-Regular.ttf);
}
@keyframes toUp {
  0% {
    transform: translateY(-10px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-10px);
  }
}
@keyframes toUp2 {
  0% {
    transform: translateY(-5px);
  }
  50% {
    transform: translateY(5px);
  }
  100% {
    transform: translateY(-5px);
  }
}
@keyframes toUp3 {
  0% {
    transform: translateY(-15px);
  }
  50% {
    transform: translateY(10px);
  }
  100% {
    transform: translateY(-15px);
  }
}
@keyframes toUp4 {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-20px);
  }
}
.header .top-bar .container .row .col-3 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .top-bar .container .row .col-3 .top-bar_logo .logo {
  margin: 0;
}
.header .top-bar .container .row .col-3 .top-bar_logo .logo .logo-link {
  font-weight: bold;
  font-size: 16px;
  color: #000;
}
.header .top-bar .container .row .col-3 .fill-out {
  margin: 15px 0;
}
.header .top-bar .container .row .col-3 .fill-out .fill-out_link {
  font-size: 14px;
  font-weight: 500;
  display: inline-block;
  border-radius: 8px;
  padding: 8px 10px;
  color: #000;
  background-color: #fae6d5;
}
.header .top-bar .container .row .col-6 {
  display: flex;
  align-items: center;
  justify-content: center;
}
.header .top-bar .container .row .col-6 .top-bar_menu {
  display: flex;
  margin: 0;
}
.header .top-bar .container .row .col-6 .top-bar_menu .top-bar_item a {
  font-size: 15px;
  padding: 1rem;
  font-weight: 500;
  color: #000;
}

.main .introduce {
  font-family: primary-font;
}
.main .introduce .container .wrap {
  text-align: center;
}
.main .introduce .container .wrap .intro-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 45px;
  line-height: 60px;
  font-weight: bold;
  padding-top: 50px;
}
.main .introduce .container .wrap .intro-desc {
  font-size: 16px;
  margin: 0;
  letter-spacing: 1px;
}

.main .moment {
  height: 50vh;
}
.main .moment .container {
  height: 100%;
  padding-top: 70px;
}
.main .moment .container .wrap {
  max-width: 1000px;
  width: 100%;
  height: 100%;
  position: relative;
}
.main .moment .container .wrap .box-img1 {
  position: absolute;
  left: 200px;
  animation: toUp 2s linear infinite;
}
.main .moment .container .wrap .box-img2 {
  position: absolute;
  top: -25px;
  left: 320px;
  animation: toUp2 2s linear infinite;
}
.main .moment .container .wrap .box-img3 {
  position: absolute;
  top: -20px;
  left: 450px;
  animation: toUp3 2s linear infinite;
}
.main .moment .container .wrap .box-img4 {
  position: absolute;
  top: 10px;
  left: 485px;
  animation: toUp4 2s linear infinite;
}
.main .moment .container .wrap .box-img5 {
  position: absolute;
  top: -25px;
  left: 560px;
  animation: toUp 2s linear infinite;
}
.main .moment .container .wrap .box-img6 {
  position: absolute;
  top: -37px;
  left: 650px;
  animation: toUp2 2s linear infinite;
}
.main .moment .container .wrap .box-img7 {
  position: absolute;
  top: 45px;
  left: 400px;
  animation: toUp3 2s linear infinite;
}
.main .moment .container .wrap .box-img8 {
  position: absolute;
  top: 55px;
  right: 420px;
  animation: toUp4 2s linear infinite;
}
.main .moment .container .wrap .box-img9 {
  position: absolute;
  top: 105px;
  left: 340px;
  animation: toUp 2s linear infinite;
}
.main .moment .container .wrap .box-img10 {
  position: absolute;
  top: 100px;
  right: 320px;
  animation: toUp2 2s linear infinite;
}
.main .moment .container .wrap .box-img11 {
  position: absolute;
  top: 100px;
  left: 480px;
  animation: toUp3 2s linear infinite;
}
.main .moment .container .wrap .box-img12 {
  position: absolute;
  right: 200px;
  animation: toUp4 2s linear infinite;
}

/*# sourceMappingURL=app.css.map */
